* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

::selection {
  background-color: rgb(130, 130, 130);
  color: rgb(208, 250, 0);
}

body {
  font-family: "work sans", sans-serif;
}

/* start variables */
:root {
  --mainColor: #ad893b;
  --subColor: #997c54;
}

/* end variables */

/* strat components */

.center {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

section.data {
  background-color: #1f2021;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.data .container2 {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
  border: 2px #ad893b solid;
  padding: 30px;
  border-radius: 20px;
}

section.data .container2 .profile-img {
  width: 200px;
  height: 200px;
}

section.data .container2 .profile-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

section.data .container2 .info p {
  color: #ad893b;
}

section.data .container2 .name {
  align-self: center;
}

section.data .container2 .name p {
  color: #ad893b;
  /* font-weight: bold; */
  text-align: center;
}

section.data .container2 .name p span {
  font-weight: bold;
}



section.projects {
  width: 100%;
  height: 100vh;
  background-color: #434343;
  display: flex;
  align-items: center;
  justify-content: center;
}

section.projects .container2 {
  width: 90%;
  background-color: #434343;
  display: flex;
  justify-content: center;
  gap: 30px;
}

section.projects .container2 .project {
  width: 300px;
  height: 500px;
  border-radius: 20px;
  border: 1px solid #ad893b;
  background-color: #1f2021;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section.projects .container2 .project .project1 p {
  color: #ad893b;
}

section.projects .container2 .project .info p {
  color: #ad893b;
}

section.projects .container2 .project .proj-img {
  width: 90%;
  height: 150px;
}

section.projects .container2 .project .proj-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}












/* end components */

/* start header */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
  /* background-color: #1b1b1bc7; */
  background-color: #00000075;
  color: var(--mainColor);
}


header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #1b1b1bc7;/ */
  margin-top: 1px;
  position: relative;
  max-height: 75px;
  border-radius: 5px;
}

header .container .logo img {
  margin-top: 10px;
  width: 200px;
  height: 135px;
}

header .container .links {
  display: flex;
  position: relative;
}

header .container .links ul {
  list-style: none;
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-right: 50px;
}

header .container .toggle-menu {
  font-size: 22px;
  cursor: pointer;
}





header .container .links ul li {
  margin-right: 15px;
  margin-left: 15px;

}

header .container .links ul li a {
  text-decoration: none;
}

header .container .links i {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

header .container .links ul li a,
header .container .links i {
  cursor: pointer;
  color: var(--mainColor);
}

@media (max-width: 768px) {
  header .container .links {
    display: none;
  }

  /* header .container .toggle-menu:hover+.links {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #00000075;
    } */

  header .container .links ul li a {
    margin-right: 10px;
  }
}

@media (min-width:768px) {
  header .container .toggle-menu {
    display: none;
  }
    header .container .links{
      display: flex;
    }
}


/* end header */

/* start section 1 */



.fa-star.one,
.fa-star.two,
.fa-star.three,
.fa-star.four {
  color: greenyellow;
}

/* end section 1 */

/* start section 2 */

.projects h2 {
  margin-left: 15%;
}

.projects {
  padding: 30px;
  display: grid;
  background-color: #434343;
  background-color: var(--mainColor);
  position: relative;
}

.projects .card {
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgb(220, 220, 220);
  background-color: black;
  border-radius: 20px;
  margin: 15px;
  gap: 5px;
}

@media (max-width: 768px) {
  .projects .card {
    grid-template-columns: auto;
    grid-template-rows: repeat(2, 1fr);
  }
}

.projects .card .left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .card .left .img-proj {
  margin-bottom: -4px;
}

.projects .card .left .img-proj img {
  max-width: 100%;
  border-radius: 20px;
}

.projects .card .right {
  text-align: center;
}

.projects .card .right h4 {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
}

.projects .card .right p {
  padding: 15px;
  line-height: 1.5;
}





/* start footer */
footer {
  background-color: #1f2021;
  color: wheat;
  color: var(--mainColor);
  padding: 15px;
  width: 100%;
}

footer .content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 80px;
  margin-bottom: 50px;
}

@media (max-width: 768px) {
  footer {
    text-align: center;
  }
}

/* end footer */